@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}
*{
    margin: 0;
    padding: 0;
}
img{
    width: 250px;
    border-radius: 10px;
    object-position: center;
}
a:link{
    text-decoration: none;
    color: inherit;
}
h3{
    font-family: 'Outfit';
    font-weight: 700;
    text-align: center;
}
p{
    font-family: 'Outfit';
    font-weight: 400;
    margin-top: 1rem;
    text-align: center;
}
body{
    background-color: var(--light-gray);
}
.card{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 0.8rem;
    width: 250px;
    height: 410px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.content{
    padding: 1rem 0.5rem;
}
.attribution {
    font-family: 'Outfit';
    font-weight: 400;
    color: var(--grayish-blue);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 90%;
    left: 50%;
    margin-top: 1rem;
    font-size: 11px; text-align: center; 
}